.input {
    margin-left: 90px;
    margin-right: 90px;
    width: 20%;
   
    
}

body {
    background: darkgray;
}
.display-4 {
    color: white;
    font-weight: bolder;
    margin-left: 2%;
}
.fa {
    padding: 1%
}

.lead {
    color: white;
    font-weight: bolder
}


.full {
    width: 80%;
    margin-left: 10%;
}
p {
    margin-left: 7%;
}
.form-group{
    width:50%;
    padding-left: 1%;
}